.ActiveEvent{
  background:#EEEEEE;
  font-family:'Montserrat', sans-serif;
  font-size:14px;
}

.ActiveEvent p{
    margin: auto;
}

.eventInfoContainer .titleContainer{
    width: 100%;
    height: 30px;
    background: #4DB6AC;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.eventInfoContainer{
    width: 40vw;
    background: white;
    margin: auto;
    height: auto;
    min-width: 355px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.guest-list{
    margin: auto;
    width: 170px;
}
.ActiveEvent img{
    height: 50px;
    width:auto;
    left:0;
    right:0;
}
.messageContainer{
    color: black;
    margin-bottom: 10px;
    overflow: hidden;
}
.liveEvent .chatContainer{
    width: 40vw;
    background: white;
    margin: auto;
    min-width: 355px;
    height: 300px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ActiveEvent .leave{
    height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 90px;
}