.App {
  text-align: center;
  background:#EEEEEE;
  height: 100vh;
  width: 100vw;
}

.App ul{
  background:black;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.list-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-container li{
  font-size: 15px;
  margin-left: 20px;
}
.list-container li:hover { 
  color: #EEFF41;
}
.title-container{
  display : flex;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  align-items: center;
}
.title-container h1{
  margin-left: 10px;
  font-size: 25px;
}

.App img{
  height: 30px;
  width:auto;
  left:0;
  right:0;
}

a {
   color: inherit; 
} 

/* Scrollbar: */
::-webkit-scrollbar-corner { 
  background: transparent; 
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #aeaeb5
}
::-webkit-scrollbar-thumb {
  background: #dadae3;
  border-radius: 10px;
  border: 1px solid #000000
}
::-webkit-scrollbar-thumb:hover {
  background: #c4c4cc
}
::-webkit-scrollbar-thumb:active {
  background: #aeaeb5
}